In [1]:
# impporting the library
import pandas as pd
import numpy as np
import random


# Machine Learning Packages
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

df=pd.read_csv("datathon_train.csv")

In [2]:
df

                                                    links  values
0       http://yasli-sad.ru/css/chase/chaseall%20newin...       1
1       http://denizkent.net/wp-admin/js/login.alibaba...       1
2       http://www.marketbiz.net/mbz/wp-includes/js/jq...       1
3       http://guardiaoitau30horas.uniclassdispositivo...       1
4       http://chancejumpers.com/christmas/christmas-h...       0
...                                                   ...     ...
100854               http://crop-topsnn.oucreate.com/grn/       1
100855  http://jacksonvillenursinghomelawyers.com/Driv...       1
100856  http://www.smallappliance.com/product.asp?cur=...       0
100857                   http://www.skofija-novomesto.si/       0
100858  http://ferlafashion.com/saint/www.loginalibaba...       1

[100859 rows x 2 columns]

In [3]:
df.isnull().sum().sum()

0

In [4]:
df1=df
df1

                                                    links  values
0       http://yasli-sad.ru/css/chase/chaseall%20newin...       1
1       http://denizkent.net/wp-admin/js/login.alibaba...       1
2       http://www.marketbiz.net/mbz/wp-includes/js/jq...       1
3       http://guardiaoitau30horas.uniclassdispositivo...       1
4       http://chancejumpers.com/christmas/christmas-h...       0
...                                                   ...     ...
100854               http://crop-topsnn.oucreate.com/grn/       1
100855  http://jacksonvillenursinghomelawyers.com/Driv...       1
100856  http://www.smallappliance.com/product.asp?cur=...       0
100857                   http://www.skofija-novomesto.si/       0
100858  http://ferlafashion.com/saint/www.loginalibaba...       1

[100859 rows x 2 columns]

In [5]:
def makeTokens(f):
    tkns_BySlash = str(f.encode('utf-8')).split('/')	# make tokens after splitting by slash
    total_Tokens = []
    for i in tkns_BySlash:
        tokens = str(i).split('-')	# make tokens after splitting by dash
        tkns_ByDot = []
        for j in range(0,len(tokens)):
            temp_Tokens = str(tokens[j]).split('.')	# make tokens after splitting by dot
            tkns_ByDot = tkns_ByDot + temp_Tokens
        total_Tokens = total_Tokens + tokens + tkns_ByDot
    #total_Tokens = list(set(total_Tokens))	#remove redundant tokens
    if 'com' in total_Tokens:
        total_Tokens.remove('com')	#removing .com since it occurs a lot of times and it should not be included in our features
    return total_Tokens

In [6]:
#df1['links']=df1['links'].apply(lambda x:makeTokens(x))

In [7]:
df1

                                                    links  values
0       http://yasli-sad.ru/css/chase/chaseall%20newin...       1
1       http://denizkent.net/wp-admin/js/login.alibaba...       1
2       http://www.marketbiz.net/mbz/wp-includes/js/jq...       1
3       http://guardiaoitau30horas.uniclassdispositivo...       1
4       http://chancejumpers.com/christmas/christmas-h...       0
...                                                   ...     ...
100854               http://crop-topsnn.oucreate.com/grn/       1
100855  http://jacksonvillenursinghomelawyers.com/Driv...       1
100856  http://www.smallappliance.com/product.asp?cur=...       0
100857                   http://www.skofija-novomesto.si/       0
100858  http://ferlafashion.com/saint/www.loginalibaba...       1

[100859 rows x 2 columns]

In [8]:
y = df1["values"]

In [9]:
url_list = df1["links"]

In [10]:
#tfid vectoriser
vectorizer = TfidfVectorizer(tokenizer=makeTokens)

In [11]:
#Count vectoriser
vectorizer1=CountVectorizer(tokenizer=makeTokens)

In [12]:
df1

                                                    links  values
0       http://yasli-sad.ru/css/chase/chaseall%20newin...       1
1       http://denizkent.net/wp-admin/js/login.alibaba...       1
2       http://www.marketbiz.net/mbz/wp-includes/js/jq...       1
3       http://guardiaoitau30horas.uniclassdispositivo...       1
4       http://chancejumpers.com/christmas/christmas-h...       0
...                                                   ...     ...
100854               http://crop-topsnn.oucreate.com/grn/       1
100855  http://jacksonvillenursinghomelawyers.com/Driv...       1
100856  http://www.smallappliance.com/product.asp?cur=...       0
100857                   http://www.skofija-novomesto.si/       0
100858  http://ferlafashion.com/saint/www.loginalibaba...       1

[100859 rows x 2 columns]

In [13]:
# Store vectors into X variable as Our XFeatures
X = vectorizer.fit_transform(url_list)

In [14]:
#spliting of data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [15]:
# logistic regression
logit = LogisticRegression()	
logit.fit(X_train, y_train)

C:\Users\vamsi\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [16]:
# Accuracy of TfidfVectorizer using logistic regression
print("Accuracy ",logit.score(X_test, y_test))

Accuracy  0.9133948046797541

In [17]:
print(X)

  (0, 177953)	0.23836641464735417
  (0, 212759)	0.21434113579550898
  (0, 212782)	0.2809202719903773
  (0, 233026)	0.3462895541244887
  (0, 60550)	0.4316519585358452
  (0, 60526)	0.3564463185316674
  (0, 69685)	0.28966355492206364
  (0, 196422)	0.10279762925798124
  (0, 197724)	0.21363213508589624
  (0, 197725)	0.2182432938282971
  (0, 273650)	0.4364865876565942
  (0, 0)	0.047499519967774025
  (0, 43404)	0.06716685481518296
  (1, 65181)	0.13189827365534176
  (1, 33227)	0.22203124263537563
  (1, 138767)	0.16493915208629373
  (1, 138784)	0.37106742519839214
  (1, 125955)	0.4139545288659391
  (1, 30346)	0.3768703409843429
  (1, 243286)	0.31010773953802745
  (1, 158633)	0.15169784674085815
  (1, 74060)	0.40021330754886003
  (1, 74061)	0.40021330754886003
  (1, 0)	0.07188259055497509
  (1, 43404)	0.10164581719606619
  :	:
  (100856, 0)	0.08115053506226114
  (100856, 43404)	0.11475118507301289
  (100857, 162105)	0.4642698909002295
  (100857, 207407)	0.4642698909002295
  (100857, 162106)	0.4642698909002295
  (100857, 266405)	0.4642698909002295
  (100857, 205605)	0.30042254848959243
  (100857, 2285)	0.15010890844813515
  (100857, 243847)	0.0808883668929127
  (100857, 0)	0.07850126584672791
  (100857, 43404)	0.11100497709266323
  (100858, 138831)	0.23072198348668635
  (100858, 92235)	0.20368111860411062
  (100858, 92236)	0.20368111860411062
  (100858, 175894)	0.21284894398752138
  (100858, 140088)	0.3250391871773412
  (100858, 258645)	0.32623964256049404
  (100858, 64985)	0.3148388471757657
  (100858, 198029)	0.34657633305136876
  (100858, 243847)	0.08039601454379994
  (100858, 65181)	0.07158310100583824
  (100858, 33227)	0.6024978351707255
  (100858, 138767)	0.08951486366275357
  (100858, 0)	0.039011721667440526
  (100858, 43404)	0.05516465528714901

In [18]:
X1 = vectorizer1.fit_transform(url_list)

In [19]:
X1_train, X1_test, y_train, y_test = train_test_split(X1, y, test_size=0.2, random_state=42)

In [20]:
#logistic regression using count vectorizer
logit = LogisticRegression()	
logit.fit(X1_train, y_train)

C:\Users\vamsi\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [21]:
# Accuracy of counterVectorizer using logistic regression
print("Accuracy ",logit.score(X_test, y_test))

Accuracy  0.7389946460440214

In [22]:
print(X1)

  (0, 43404)	2
  (0, 0)	2
  (0, 273650)	2
  (0, 197725)	1
  (0, 197724)	1
  (0, 196422)	1
  (0, 69685)	2
  (0, 60526)	2
  (0, 60550)	2
  (0, 233026)	2
  (0, 212782)	1
  (0, 212759)	1
  (0, 177953)	1
  (1, 43404)	2
  (1, 0)	2
  (1, 74061)	1
  (1, 74060)	1
  (1, 158633)	1
  (1, 243286)	2
  (1, 30346)	2
  (1, 125955)	2
  (1, 138784)	1
  (1, 138767)	1
  (1, 33227)	1
  (1, 65181)	1
  :	:
  (100856, 185185)	1
  (100856, 39761)	1
  (100857, 43404)	2
  (100857, 0)	2
  (100857, 243847)	1
  (100857, 2285)	2
  (100857, 205605)	1
  (100857, 266405)	1
  (100857, 162106)	1
  (100857, 207407)	1
  (100857, 162105)	1
  (100858, 43404)	2
  (100858, 0)	2
  (100858, 138767)	1
  (100858, 33227)	5
  (100858, 65181)	1
  (100858, 243847)	2
  (100858, 198029)	2
  (100858, 64985)	3
  (100858, 258645)	2
  (100858, 140088)	2
  (100858, 175894)	1
  (100858, 92236)	1
  (100858, 92235)	1
  (100858, 138831)	1

In [23]:
rf = RandomForestClassifier(n_estimators=10,criterion="entropy")	
rf.fit(X_train, y_train)

RandomForestClassifier(criterion='entropy', n_estimators=10)

In [24]:
# Accuracy of TfidfVectorizer using random forest classifiers
print("Accuracy ",rf.score(X_test, y_test))

Accuracy  0.9203846916517946

In [25]:
rf = RandomForestClassifier(n_estimators=10,criterion="entropy")	
rf.fit(X1_train, y_train)

RandomForestClassifier(criterion='entropy', n_estimators=10)

In [26]:
# Accuracy of countvectorizer using random forest classifiers
print("Accuracy ",rf.score(X1_test, y_test))

Accuracy  0.9157247670037676